<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phunware.foregroundapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.phunware.foregroundapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.phunware.foregroundapplication.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="CHECK_FOREGROUND_PROCESS" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.phunware.foregroundapplication.MyIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.phunware.foregroundapplication.MyServcieReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="START_MYSERVICE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
